<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/09e48a39e3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <a href="/" style="float: left; display: block; position: absolute;"><i class="fa-solid fa-piggy-bank fa-2xl"></i></a>
        <a href="/budget">Budget</a>
        <a class="active" href="/about">About</a>
        <a href="/contact">Contact Us</a>
    </div>

    <h1>About Us</h1>
    <div class = "about-us">
    <p>Welcome to Budgetr, your go-to solution for managing your finances effectively.</p>
    <p>Our mission is to help you take control of your budget and make informed financial decisions.</p>
    <p>We believe that everyone should have access to tools that empower them to achieve their financial goals.</p>
    <p>With Budgetr, you can easily track your expenses, set budget categories, and monitor your spending habits.</p>
    <p>Our user-friendly interface and intuitive design make budgeting a breeze.</p>
    <p>Join us on this journey to financial freedom!</p>
    <div>
</body>
</html>