<!DOCTYPE html>
<html lang="en">
<head>
    <title>Budgeting</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/09e48a39e3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <a href="/" style="float: left; display: block; position: absolute;"><i class="fa-solid fa-piggy-bank fa-2xl"></i></a>
        <a class="active" href="/budget">Budget</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
    </div>
    
    <div id="budget-init">
        <div id="budget-set">
            <input id="budget-input" type="number" placeholder="set budget"></input>
            <button id="budget-submit" onclick="setBudget(budgetInput.value); updateBudget()">set</button>
        </div> 
        initial budget: $<span id="budget"></span>
        final budget: $<span id="budget-final"></span>
    </div>

    <h1 id="budcat">budget categories</h1>

    <div id="add-cat">
        <input id="cat-name" type="text" placeholder="category name" required></input>
        <input id="cat-cost" type="number" placeholder="category cost" required></input>
        <button id="+-button" onclick="addCategory(categoryNameInput.value, categoryCostInput.value)">+</button>
        <button id="cat-restore" onclick="restoreCategories()">restore defaults</button>
    </div>

    <div id="cats">
    </div>

    <script src="{{url_for('static', filename='budget.js')}}"></script>
</body>
</html>