<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/09e48a39e3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <a href="/" style="float: left; display: block; position: absolute;"><i class="fa-solid fa-piggy-bank fa-2xl"></i></a>
        <a href="/budget">Budget</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
    </div>

    <h1>Welcome to Budgetr</h1>
    <i class="fa-solid fa-piggy-bank fa-2xl" style="animation: myAnim 1s ease-out 0s 1 normal forwards;"></i>
    <p>Take control of your finances with Budgetr!<br>Manage your budget, track expenses, and achieve your financial goals.</p>
    <p>Start budgeting today!</p>
    <p>Click on the Budget tab to get started.</p>
    <p>We are a team of passionate developers dedicated to helping you manage your finances effectively.</p>
    
</body>
</html>